# H1: Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
1. Some of the popular languages of data science
2. commonly used libraries by data scientist
3. examples of expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools |
|--------------------|
|Jupyter Notebook    |
|RStudio|
|Apache Zeppelin|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200*(1/60)

3.3333333333333335

## H2: Author
Aadithyan